{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'delivery/styles.css' %}" rel="stylesheet">
	{% block script %}{% endblock %}
</head>

<body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  	<div class="container-fluid">
	    	<a class="navbar-brand" href="{% url 'index' %}">Delivery</a>
	    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
	    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		      	{% if user.is_authenticated %}
		        	{% if request.user.restaurant == False %}
				      	<li class="nav-item">
				          <a class="nav-link active" href="{% url 'index' %}" id="all">All restaurants</a>
				        </li>
				    {% else %}
				    	<li class="nav-item">
				          <a class="nav-link active" href="{% url 'index' %}" id="orders">Orders</a>
				        </li>
				    {% endif %}
				{% else %}
					<li class="nav-item">
				        <a class="nav-link active" href="{% url 'index' %}" id="all">All restaurants</a>
				    </li>
				{% endif %}
				
		        {% if user.is_authenticated %}
		        	{% if request.user.restaurant == False %}
				        <li class="nav-item">
				          <a class="nav-link active" href="{% url 'favorite' %}" id="favorite">Favorite</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link active" href="{% url 'orders' %}" id="my_orders">My Orders</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link active" href="{% url 'cart' %}" id="cart">My Cart</a>
				        </li>
				    {% else %}
					    <li class="nav-item">
				          <a class="nav-link active" href="{% url 'edit_view' %}" id="edit">Edit Menu</a>
				        </li>
				    {% endif %}
				    <li class="nav-item">
				        <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
				    </li>
		        {% else %}
		         <li class="nav-item">
		          <a class="nav-link active" href="{% url 'login' %}">Login</a>
		        </li>
		         <li class="nav-item">
		          <a class="nav-link active" href="{% url 'register' %}">Register</a>
		        </li>
		        {% endif %}

		      </ul>
		     {% if user.is_authenticated %}
	        	{% if request.user.restaurant == False %}
			      	<form class="d-flex" action="{% url 'search' %}">
			        	<input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
			        	<button class="btn btn-outline-success" type="submit">Search</button>
			      	</form>
      			{% endif %}
	      	{% endif %}
	    	</div>
	  	</div>
	</nav>

	<div class="body">{% block body %}{% endblock %}</div>
</body>
</html>