{% extends "delivery/layout.html" %}

{% block title %}Search{% endblock %}

{% block body %}
	<h3>Item that matched your search</h3>
	{% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div>
	{% for restaurant in restaurants %}
		<div class="restaurant">
		<p>{{restaurant.user.username}}</p>
		<form action="{% url 'restaurant_view' restaurant.id %}" class="view">
			<input type="submit" value="view" class="btn btn-info btn-sm">
		</form>
		</div>
	{% endfor %}
	</div>
{% endblock %}